<h1>Craete a New Figure:</h1>

<form action="/figures" method="post">

  <label>Figure Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br><br>
  <label>Choose an existing Title:</label>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input>
  <% end %>
  <br><br>
  <label>Or, create a new Title: </label>
  <input type="text" name="title[name]" id="new_title">
  <br><br>
  <label>Choose an existing Landmark:</label>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input>
  <% end %>
  <br><br>
  <label>Or, create a new Landmark: </label>
  <input type="text" name="landmark[name]" id="new_landmark">
  <br><br>

  <input type="submit" value="Create New Figure">
</form>
